
@mixin zxcvbn1 { // AppHeader / a; MovieBanner/description
	font-size: 24px;
	line-height: 32px;
	color: #ffffff;

	@media ($point425) {
		font-size: 18px;
		line-height: 24px;
	}
}

@mixin zxcvbn2 { //AppSearch / input;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

@mixin zxcvbn3 { //MovieBanner / title
	font-family: 'Play-Bold', sans-serif;
	font-size: 48px;
	line-height: 56px;

	@media ($point425) {
		font-size: 24px;
		line-height: 32px;
	}
}

@mixin zxcvbn4 { //MovieBanner/info; rating
	font-family: 'Play-Bold', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

@mixin zxcvbn5 { // MovieBanner/info;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;

	@media ($point425) {
		font-size: 14px;
		line-height: 20px;
	}
}






@mixin rating($color) {
	position: relative;
	padding: 4px 12px 4px 32px;
	background: $color;
	border-radius: 16px;
	@include zxcvbn4;

	&::before {
		content: url('@/assets/img/star.svg');
		width: 16px;
		height: 16px;
		position: absolute;
		left: 12px;
		top: 6px;
	}
}

@mixin button {
	background: $gray;
	outline: none;
	border: none;
	border-radius: 28px;
	@include zxcvbn4;
	cursor: pointer;
	
	&.accent {
		background: $accent-main;
	}

	&.wide {
		padding: 16px 48px;

		@media ($point425) {
			flex-grow: 1;
			padding: 16px 22px;
		}
	}

	&.round {
		padding: 16px 22px;
		line-height: 0;
	}

	&.width100 {
		width: 100%;
	}
}